@import "../../../assets//sass/colors.scss";
@import "../../../assets/sass/paddings.scss";

.sidebar-card {
  color: black;
  height: min-content;
  max-width: 230px;
}

.sidebar-card-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  columns: 2;
}

.button-clicked {
  background-color: green;
}

.button-unclick {
  background-color: $btnPrimaryBg;
}

.sidebar-card-heading {
  font-weight: bold;
  text-align: left;
}

.sidebar-card-subheading {
  text-decoration: underline;
}

.successful-launch-div {
  display: flex;
  column-count: 2;
  column-gap: 20px;
}

@media screen and (max-width: 575px) {
  .sidebar-card {
    width: 85vw;
  }
}
